@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
* {
  padding: 0;
  margin: 0;
}

.App {
  font-family: 'Inter', sans-serif;
  max-height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 650px) {
  header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header h1 {
    text-align: center;
  }
  .daily__info__container {
    font-size: 0.8rem;
    padding: 0px 8px;
  }
  .daily__info__img {
    width: 40px;
  }
}

@media (max-width: 650px) {
  header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 20px;
  }
  header h1 {
    text-align: right;
    font-size: 1.3rem;
    width: 40%;
  }
  .daily__info__container {
    font-size: 0.6rem;
    padding: 5px 3px;
  }
  .daily__info__img {
    width: 30px;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #004e89;
  height: 5rem;
  color: white;
}

header h1 {
  font-weight: bolder;
}

header button {
  position: absolute;
  right: 15px;
  top: 10px;
  border: none;
  border-radius: 4px;
  padding: 10px 30px;
  font-size: 1.3rem;
  color: #004e89;
  font-family: 'Staatliches', cursive;
}

header .selectedScale {
  color: #001e35;
  font-weight: 900;
}

header button:hover {
  cursor: pointer;
}

.content {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#form_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#form_container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  max-width: 500px;
}

#form_container form #location_input {
  border: none;
  color: white;
  padding-left: 15px;
  width: 80%;
  background-color: #1a659e;
  border-radius: 5px 0px 0px 5px;
  font-size: 1.3rem;
}

#form_container form #location_input:focus {
  outline: none;
}

#form_container form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 0px 5px 5px 0px;
  padding: 0.5rem 0px;
  background-color: #004e89;
  font-size: 1.5rem;
  color: white;
  width: 20%;
}

#form_container form button:hover {
  cursor: pointer;
  background-color: #1a659e;
  color: white;
}

#form_container #form_error {
  background-color: #9c3737;
  width: 60%;
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0px 0px 5px 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 0.3rem 0px;
  font-size: 1.2rem;
}

#body_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#body_container #current_info {
  width: 80%;
  max-width: 500px;
}

#body_container #current_info #current_info_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#body_container #current_info #current_info_header h2 {
  font-size: 2rem;
}

#body_container #current_info #current_info_header img {
  height: 5.5rem;
}

#body_container #current_info #current_description {
  font-size: 0.8rem;
  text-align: end;
}

#body_container #current_info #current_temp {
  font-size: 2.5rem;
}

#body_container #current_info #extra_temp_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#body_container #current_info #extra_temp_info #current_temp_max {
  padding-right: 10px;
}

#body_container #daily__info {
  margin-top: 20px;
  width: 80%;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#body_container #daily__info .daily__info__container {
  background-color: #004e89;
  border-radius: 5px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer_center {
  background-color: #004e89;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.15rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  min-width: 300px;
  max-width: 450px;
  height: 3rem;
  border-radius: 15px 15px 0 0;
}

footer .footer_center:hover {
  cursor: pointer;
  background-color: white;
  color: #004e89;
  border: 2px solid #004e89;
  border-bottom: 0;
}

footer .icon_margin {
  margin-right: 15px;
}
/*# sourceMappingURL=App.css.map */