@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.App {
  max-height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 650px) {
  header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header h1 {
    text-align: center;
  }
}

@media (max-width: 650px) {
  header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 20px;
  }
  header h1 {
    text-align: right;
    font-size: 1.3rem;
    width: 40%;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  height: 5rem;
  color: white;
}

header h1 {
  font-weight: bolder;
}

header button {
  position: absolute;
  right: 15px;
  top: 10px;
  border: none;
  border-radius: 2px;
  padding: 10px 30px;
  font-size: 1rem;
  background-color: #464545;
  color: white;
}

header button:hover {
  cursor: pointer;
}

.content {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#form_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#form_container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  max-width: 500px;
}

#form_container form #location_input {
  border: none;
  color: white;
  padding-left: 15px;
  width: 80%;
  background-color: #1a659e;
  border-radius: 5px 0px 0px 5px;
  font-size: 1.3rem;
}

#form_container form #location_input:focus {
  outline: none;
}

#form_container form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 0px 5px 5px 0px;
  padding: 0.5rem 0px;
  background-color: #004e89;
  font-size: 1.5rem;
  color: white;
  width: 20%;
}

#form_container form button:hover {
  cursor: pointer;
  background-color: #1a659e;
  color: white;
}

#form_container #form_error {
  background-color: #9c3737;
  width: 60%;
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0px 0px 5px 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 0.3rem 0px;
  font-size: 1.2rem;
}

#body_container .curr_info {
  width: 80%;
  max-width: 500px;
}

#body_container .curr_info #curr_info_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#body_container .curr_info #curr_info_header h2 {
  font-size: 2rem;
}

#body_container .curr_info #curr_info_header img {
  height: 3rem;
}

#body_container .curr_info #curr_description {
  font-size: 0.8rem;
  text-align: end;
}

#body_container .curr_info #curr_temp {
  font-size: 2.5rem;
}

#body_container .curr_info #extra_temp_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#body_container .curr_info #extra_temp_info #curr_temp_max {
  padding-right: 10px;
}
/*# sourceMappingURL=App.css.map */