@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

$search-primary-colour: #004e89;
$search-secondary-colour: #1a659e;

.App {
  max-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

@media (min-width: 650px) {
  header {
    align-items: center;
    justify-content: center;
    h1 {
      text-align: center;
    }
  }
}

@media (max-width: 650px) {
  header {
    align-items: center;
    padding-left: 20px;
    h1 {
      text-align: right;
      font-size: 1.3rem;
      width: 40%;
    }
  }
}

header {
  display: flex;
  background-color: black;
  height: 5rem;
  color: white;

  h1 {
    font-weight: bolder;
  }

  button {
    position: absolute;
    right: 15px;
    top: 10px;
    border: none;
    border-radius: 2px;
    padding: 10px 30px;
    font-size: 1rem;
    background-color: rgb(70, 69, 69);
    color: white;
  }

  button:hover {
    cursor: pointer;
  }
}

.content {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#form_container {
  display: flex;
  flex-direction: column;
  form {
    display: flex;
    width: 80%;
    max-width: 500px;
    #location_input {
      border: none;
      color: white;
      padding-left: 15px;
      width: 80%;
      background-color: $search-secondary-colour;
      border-radius: 5px 0px 0px 5px;
      font-size: 1.3rem;
    }

    #location_input:focus {
      outline: none;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 0px 5px 5px 0px;
      padding: 0.5rem 0px;
      background-color: $search-primary-colour;
      font-size: 1.5rem;
      color: white;
      width: 20%;
    }

    button:hover {
      cursor: pointer;
      background-color: $search-secondary-colour;
      color: white;
    }
  }

  #form_error {
    background-color: rgb(156, 55, 55);
    width: 60%;
    max-width: 350px;
    display: flex;
    border-radius: 0px 0px 5px 5px;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0.3rem 0px;
    font-size: 1.2rem;
  }
}

#body_container {
  .curr_info {
    width: 80%;
    max-width: 500px;

    #curr_info_header {
      display: flex;
      justify-content: space-between;
      h2 {
        font-size: 2rem;
      }

      img {
        height: 3rem;
      }
    }

    #curr_description {
      font-size: 0.8rem;
      text-align: end;
    }

    #curr_temp {
      font-size: 2.5rem;
    }

    #extra_temp_info {
      display: flex;

      #curr_temp_max {
        padding-right: 10px;
      }
    }
  }
}
